## **1. L is list defined as L = [11,12,13,14]**

**1.1 Adding element in a list**

In [ ]:
L = [11,12,13,14]
print("Before adding element --> ",L)
L.append(50)
L.append(60)

#L.append([50,60])
print("After adding 50 and 60 --> ",L)

Before adding element -->  [11, 12, 13, 14]
After adding 50 and 60 -->  [11, 12, 13, 14, 50, 60]

**1.2 Removing element from list**

In [27]:
L = [11,12,13,14]
print("Before removing element --> ",L)
L.remove(11)
L.remove(13)

# del L[0]
# del L[2]
print("After removing 11 and 13 --> ",L)

Before removing element -->  [11, 12, 13, 14]
After removing 11 and 13 -->  [12, 13]

**1.3 Sorting list in ascending order**

In [ ]:
L = [12,14,13,11]
print("Before sorting elements --> ",L)
L.sort()
print("After sorting elements --> ",L)

Before sorting elements -->  [12, 14, 13, 11]
After sorting elements -->  [11, 12, 13, 14]

**1.4 Sorting list in descending order**

In [ ]:
L = [12,14,13,11]
print("Before sorting elements --> ",L)
L.sort(reverse=True)
print("After sorting elements --> ",L)

Before sorting elements -->  [12, 14, 13, 11]
After sorting elements -->  [14, 13, 12, 11]

**1.5 Searching element in list**

In [ ]:
L = [11,12,13,14]
if 13 in L:
  print("13 is found")
else:
  print("13 is not found")

13 is found

**1.6 Counting number of elements in list**

In [ ]:
L = [11,12,13,14]
L1 = len(L)
print("Total number of elements in the list --> ",L1)

Total number of elements in the list --> 4

**1.7 Finding sum of elements in the list**

In [ ]:
L = [11,12,13,14]
s=0
for i in L:
  s+=i
print("Sum of elements in the list --> ",s)

#print(sum(L))

Sum of elements in the list -->  50

**1.8 Sum of odd numbers in the list**

In [ ]:
L = [11,12,13,14]
s=0
for i in L:
  if i%2!=0:
    s+=i
print("Sum of odd numbers in the list --> ",s)

Sum of odd numbers in the list -->  24

**1.9 Sum of prime numbers in the list**

In [ ]:
L = [11,12,13,14]
s=0
for i in L:
  if i%2==0:
    s+=i
print("Sum of even numbers in the list --> ",s)

Sum of even numbers in the list -->  26

**1.10 Sum of prime numbers in the list**

In [ ]:
L = [11,12,13,14]
s=0
for i in L:
  count=0
  for j in range(1,i+1):
     if i%j==0:
      count+=1
  if count==2:
      s+=i
print("Sum of prime numbers --> ",s)

Sum of prime numbers -->  24

**1.11 Clear all elements from the list**

In [ ]:
L = [11,12,13,14]
print("Before clearing elements -- > ",L)
del L[0:4]

# L.clear()
print("After clearing elements -- > ",L)

Before clearing elements -- >  [11, 12, 13, 14]
After clearing elements -- >  []

**1.12 Deleting a list**

In [ ]:
L = [11,12,13,14]
print("Before deleting a list -- > ",L)
L1 = L.clear()

# del L
print("After deleting a list -- > ",L1)

Before deleting a list -- >  [11, 12, 13, 14]
After deleting a list -- >  None

## **2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.**

**2.1 Adding new entry in D**

In [ ]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("Before adding element in the dictionary -- > ",D)
D[8] = 8.8
print("After adding element in the dictionary --> ",D)

Before adding element in the dictionary {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After adding element in the dictionary {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

**2.2 Deleting key from dictionary**

In [2]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
del D[2]
print("Deleting element --> ",D)

Deleting element -->  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

**2.3 Searching key in D**

In [3]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
if 6 in D:
  print("Yes , 6 is in the dictionary ")
else:
  print("No , 6 is not in the dictionary ")

No , 6 is not in the dictionary

**2.4 Count number of elements in D** **bold text**

In [4]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("Total number of elements in D --> ",len(D))

Total number of elements in D -->  5

**2.5 Finding sum of values in D**

In [11]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
s=0
for i in D.values():
  s+=i
print("Sum of values in D --> ",s)

Sum of values in D -->  36.4

**2.6 Updating value of key in D**

In [13]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("Before updating value of 3 --> ",D)

D[3] = 7.1
print("After updating value of 3 --> ",D)

Before updating value of 3 -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After updating value of 3 -->  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

**2.7 Clear the dictionary**

In [15]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("Before clear the dictionary --> ",D)
D.clear()
print("After clear the dictionary --> ",D)

Before clear the dictionary -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After clear the dictionary -->  {}

## **3. Set**

**3.1 Adding element in the set**

In [17]:
S1 = [10, 20, 30, 40, 50, 60]
S2 = [40, 50, 60, 70, 80, 90]
print("Before adding elements in the set --> ",S1)
S1.append(55)
S1.append(66)

#S1.append([55,66])
print("After adding elements in the set --> ",S1)

[10, 20, 30, 40, 50, 60, [55, 66]]

**3.2 Removing element from set**

In [26]:
S1 = [10, 20, 30, 40, 50, 60]
print("Before removing elements from set --> ",S1)
# S1.remove(10)
# S1.remove(30)

del S1[0]
del S1[1]
print("After removing elements from set --> ",S1)

Before removing elements from set -->  [10, 20, 30, 40, 50, 60]
After removing elements from set -->  [20, 40, 50, 60]

**3.3 Searching element in the set**

In [29]:
S1 = [10, 20, 30, 40, 50, 60]
if 40 in S1:
  print("40 is in the set S1")
else:
  print("40 in not in the set S1")

40 is in the set S1

**3.4 Union of sets**

In [34]:
S1 = set([10, 20, 30, 40, 50, 60])
S2 = set([40, 50, 60, 70, 80, 90])
print("Union of S1 and S2 --> ",S1.union(S2))

Union of S1 and S2 -->  {70, 40, 10, 80, 50, 20, 90, 60, 30}

**3.5 Intersection of sets**

In [ ]:
S1 = set([10, 20, 30, 40, 50, 60])
S2 = set([40, 50, 60, 70, 80, 90])
print("Intersection of S1 and S2 --> ",S1.intersection(S2))

**3.6 Difference of sets**

In [37]:
S1 = set([10, 20, 30, 40, 50, 60])
S2 = set([40, 50, 60, 70, 80, 90])
# print("Difference of S1 and S2 --> ",S1-S2)

print("Difference of S1 and S2 --> ",S1.difference(S2))

Difference of S1 and S2 -->  {10, 20, 30}